.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-content {
  display: flex;
  flex: 1;
}

.user-list {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.message-list {
  flex: 3;
  overflow-y: auto;
  display: flex;
  position: relative;
  
  padding: 5px; /* Ajusta el valor de padding según tus preferencias */
}

.message-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.own-message {
  align-self: flex-end;
  background-color: #4CAF50;
  color: white;
}

.other-message {
  align-self: flex-start;
  background-color: #f1f1f1;
}

.message-content {
  padding: 10px;
  border-radius: 5px;
  
}

.message-sender {
  font-size: 12px;
  margin-top: 5px;
}

.message-content-container {
  display: inline-block;
  word-wrap: break-word;
  max-width: 80%; /* Ajusta el ancho máximo según tus preferencias */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}

.chat-input {
  display: flex;
  padding: 10px;
  width: 50%;
  position: relative;
  left: 25%;
}

input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* CSS para el tema light */
.chat-container.light {
  background-color: #ffffff;
  color: #000000;
  /* ... otras reglas de estilo específicas para el tema light ... */
}

/* CSS para el tema dark */
.chat-container.dark {
  background-color: #303030;
  color: #ffffff;
  /* ... otras reglas de estilo específicas para el tema dark ... */
}
